/******TAG SELECTORS*****/
body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
  background-color: #072227;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", serif;
  font-size: 5.625rem;
  color: #66bfbf;
}
h2 {
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
  font-size: 1.5em;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
  font-size: 15px;
  font-weight: 900;
}
a {
  color: #11999e;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
}
p {
  font-family: "Merriweather", serif;
  color: #afefff;
}
/******CLASS SELECTORS*****/
.top {
  background-color: #e4f9f5;
  margin-bottom: 20px;
  position: relative;
  padding-top: 100px;
}
.top-cloud {
  position: absolute;
  left: 900px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 400px;
}
.skill-row {
  margin: 100px auto 150px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}
.photoimage {
  float: left;
  margin-right: 30px;
}
.spaceimage {
  float: right;
  margin-left: 30px;
}
.profile {
  width: 30%;
  margin: auto;
}
.dots {
  border-style: none none dashed none;
  border-color: #eaf6f6;
  border-width: 4px;
  width: 5%;
  margin: 60px auto 60px auto;
}
.BUTTON_FYV {
  background: #1eeaea;
  background-image: -webkit-linear-gradient(top, #1eeaea, #1ec4d0);
  background-image: -moz-linear-gradient(top, #1eeaea, #1ec4d0);
  background-image: -ms-linear-gradient(top, #1eeaea, #1ec4d0);
  background-image: -o-linear-gradient(top, #1eeaea, #1ec4d0);
  background-image: -webkit-gradient(to bottom, #1eeaea, #1ec4d0);
  border-radius: 10px;
  color: #ffffff;
  font-family: Verdana;
  font-size: 15px;
  font-weight: 100;
  padding-top: 15px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 15px;
  text-shadow: 1px 1px 20px #000000;
  border: solid #1ec4d0 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 40px auto;
}

.BUTTON_FYV:hover {
  border: solid #337fed 1px;
  background: #1e62d0;
  background-image: -webkit-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -moz-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -ms-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -o-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -webkit-gradient(to bottom, #1e62d0, #3d94f6);
  border-radius: 10px;
  text-decoration: none;
}
.contact {
  width: 40%;
  margin: auto;
}

.bottom-text {
  color: #eaf6f6;
  font-size: 13px;
}
#domains {
  overflow: hidden;
  overflow-y: scroll;
  height: 200px;

  float: right;
  color: white;
}

#domains::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

#scrollImg {
  float: left;
}

#domains {
  position: absolute;
  right: 500px;
}
#domains div {
  border-radius: 20px;
}
#domains button:hover {
  border: 2px solid white;
  border-radius: 20px;
}
button {
  overflow:hidden;
  height: 50px;
  font-family: "Merriweather", serif;
  background-color: inherit;
  font-size: 40px;
  color: white;
  border-radius: 20px solid;
  padding: 3px;
}
